sudo: false
services:
- docker
env:
- trees_repo=untoreh/trees base=trub
install:
- gem install travis
before_script:
- docker run -d --name ct -v $PWD:/srv -v /dev:/dev -v /sys:/sys --privileged --cap-add=ALL -w /srv alpine:edge /bin/sleep 36000
script:
- docker exec ct ./run.sh
- |
  if [ "$TRAVIS_TAG" -a -f file.up ]; then
    GIT_REMOTE=$(git remote show origin | grep -i "push.*url" | \
      sed -r 's~.*push.*?:[ \s]+(.*?://)(.*)$~\1'$GIT_USER:$GIT_TOKEN'@\2~i')
    git tag -d $TRAVIS_TAG
    git push --delete $GIT_REMOTE $TRAVIS_TAG
    travis cancel $TRAVIS_BUILD_NUMBER --no-interactive -t $TRAVIS_TOKEN
  fi
deploy:
  provider: releases
  api_key:
    secure: b8EV/YvJDOJ7HrVLLFX0aDvd7HIfay/JrD2IKRVg5K2PDV7fML9GecIYbmgxglRmE0CawkBC60Q/zZY9BYbSQUDeoRfZLkXbNmVwksO5fKixlr0iqJ7UpMBxbirdWL6jE+B7a0qmsiL0Ku6hF+nWm9Z2oW989e6l3mqDWLZj0++qL4ryY/6mSOXga/q3rprOh03YDP9/ROapuRoOD2cqqfwH1uGw5Y4r3Hx2gd5O2DIW3UMWmIHau3hxBnFDJf4CdAaU9bbQOM6Rzb2/y6aEh+kg3WpMpVKiSPUZG63djk6Dppw1DWehYDBJ3yleVinEC8F3buQ/QZcFVXUER8xgqAJqMOmZmQ+726VcbaCu2Q80uC+H2YqkpwbpcmdfJJcd/MAZjNuRiZTE9ehcKfgWbw6ElQLNh++CvlTPlSn89O0FXT8/ctDx3LczthMrgKA7bx9tO7Z+U8s12LOFSStbAJEJNo07srNFHNoz3v+z92NSabuqFKe/MsHVSLb48GEQGxibwyOI4jJyPCdU0MFUw1LHYGHYRCmRa/IgyG2PYIdU/TQCzZPspGZtc0OVtx/zfg2El1PEJzyDmwou2dvXRaAxsq59jH8GO9bIjxzJWt7hTvS08FyWHl8ZrUD14MVI1QCTlk2L2srg91sDKLnkZXqBCpBwT18HHy+6xXluLbs=
  skip_cleanup: true
  file:
   - "trub.tar"
   - "trub.sum"
   - "delta-trub.tar"
  on:
    tags: true
after_deploy:
  - |
    ## since a build has been deployed rebuild dependend images on the /trees repo
    source functions.sh
    git clone --depth=1 https://$GIT_USER:$GIT_TOKEN@github.com/$trees_repo && cd $(basename $trees_repo)
    git tag ${base}-$(md)
    git push --tags
